@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary Colors */
  --light_red: hsl(0, 100%, 67%, 0.1);
  --orangey_yellow: hsl(39, 100%, 56%, 0.1);
  --green_teal: hsl(166, 100%, 37%, 0.1);
  --cobalt_blue: hsl(234, 85%, 45%, 0.1);
  --dark_blue: hsl(224, 30%, 27%);

  /* Background Gradient Colors */
  --light_slate_blue: hsl(251, 100%, 63%);
  --light_royal_blue: hsl(241, 81%, 54%);

  /* Background gradient colors for the circle */
  --violet_blue: hsla(256, 72%, 46%, 1);
  --persian_blue: hsla(241, 72%, 46%, 0);

  /* Neutral Colors */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light_lavender: hsl(241, 100%, 89%);
  --dark_gray_blue: hsl(224, 30%, 27%);
  --dark_violet: hsl(246, 60%, 81%);
}

body {
  font-family: "Hanken Grotesk", Times, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

.layer_1 {
  /* margin: 0 auto; */
  text-align: center;
  /* tl-tr-br-bl */
  border-radius: 0px 0px 40px 40px;
}

.l1_gradient {
  background: linear-gradient(
    to bottom,
    var(--light_slate_blue),
    var(--light_slate_blue),
    var(--light_royal_blue)
  );
}

.circle {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, var(--violet_blue), var(--persian_blue));
  height: 100px;
  width: 100px;
  margin: 20px auto;
  border-radius: 50%;
}

h2 {
  font-size: 1rem;
  color: var(--light_lavender);
  margin: 1em;
}

.big_t {
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  color: var(--white);
  font-weight: 700;
}

.small_t {
  color: var(--dark_violet);
}

.great {
  color: var(--white);
  font-size: 1.2rem;
}
.g_text {
  color: var(--light_lavender);
  font-size: 1rem;
  /* width: min(90%, 230px); */
  max-width: 255px;
  /* width: 60%; */
  text-align: center;
  margin: 27px auto;
}

.layer_2 {
  display: flex;
  flex-direction: column;
  padding: 10px 20px 20px 20px;
  margin: -25px;
}

.summary {
  margin: 0.5rem;
  font-size: 1rem;
}

table {
  border-collapse: collapse;
}
.test {
  display: flex;
  gap: 8px;
}

.reaction {
  background: var(--light_red);
  color: hsl(0, 100%, 67%);
  font-weight: bold;
  border: 1px solid hsl(0, 100%, 67%);
}
.memory {
  background: var(--orangey_yellow);
  color: hsl(39, 100%, 56%);
  font-weight: bold;
  border: 1px solid hsl(39, 100%, 56%);
}
.verbal {
  background: var(--green_teal);
  color: hsl(166, 100%, 37%);
  font-weight: bold;
  border: 1px solid hsl(166, 100%, 37%);
}
.visual {
  background: var(--cobalt_blue);
  color: hsl(234, 85%, 45%);
  font-weight: bold;
  border: 1px solid hsl(234, 85%, 45%);
}

tbody > tr {
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
  margin: 0.5rem;
  border-radius: 5px;
  text-align: center;
}

.table_drp {
  color: black;
}
.table_drp2 {
  color: hsl(283, 5%, 74%);
  font-weight: 800;
}

button {
  padding: 1rem;
  border-radius: 50px;
  border-style: none;
  margin: 0.5rem;
  background-color: var(--dark_blue);
}

button:hover {
  background: linear-gradient(
    to bottom,
    var(--light_slate_blue),
    var(--light_slate_blue),
    var(--light_royal_blue)
  );
  cursor: pointer;
}

.button_t {
  font-size: 1rem;
  font-weight: lighter;
  color: var(--white);
  font-weight: bold;
}

@media (min-width: 600px) {
  .container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
  }

  .layer_1 {
    /* margin: 0 auto; */
    text-align: center;
    /* tl-tr-br-bl */
    border-radius: 40px 40px 40px 40px;
    z-index: 1;
    padding: 2rem;
    box-shadow: 10px 10px 50px 5px #e7edfb;
  }

  .circle {
    height: 130px;
    width: 130px;
  }

  .big_t {
    justify-content: flex-end;
    padding-top: 4px;
    font-size: 3em;
  }

  .small_t {
    margin-bottom: 10px;
  }

  .great {
    font-size: 2em;
  }
  .g_text {
    max-width: 230px;
    margin-bottom: 10px;
  }

  .result {
    font-size: 1em;
  }
  .summary {
    font-size: 1em;
  }

  .layer_2 {
    box-shadow: 10px 10px 50px 5px #e7edfb;
    padding: 2rem;
    /* tl-tr-br-bl*/
    border-radius: 20px 40px 40px 20px;
    z-index: 0;
  }
  tbody > tr {
    width: 250px;
  }

  button {
    margin: 1rem;
  }
  button:hover {
    background: linear-gradient(
      to bottom,
      var(--light_slate_blue),
      var(--light_slate_blue),
      var(--light_royal_blue)
    );
    cursor: pointer;
  }
}
